In [5]:
import pandas as pd

products = pd.read_csv(r'C:\Users\srush\OneDrive\Desktop\recommendation_engine\data\products.csv')
products.head()

,reviewID,name,date,verifiedPurchase,rating,helpful,title,review,profile,country,reviewLink,reviewImage,helpful_aug,is_positive_review,helpfulness_score
0,R26GJW65W9X4OB,HebeZ,"March 9, 2025",True,4,12,Solid Smart Glasses with Room for Improvement,The Ray-Ban Meta Glasses in the classic Wayfar...,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R26...,NaN,15,1,6.048932
1,R1LPZH3QJAOVAI,Karla silva,"December 4, 2025",True,5,NaN,Excelentes a mi esposo le encantan,Excelentes a mi esposo le encantan,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1L...,NaN,2,1,5.397819
2,R1ASIRA3BE7065,Trinison12,"November 12, 2025",True,5,NaN,Now you see me,"I purchased these for my fiancé, for our anniv...",https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1A...,NaN,0,1,4.486596
3,R1W8SXTGV55AUH,Randy Harris,"December 7, 2025",True,4,8,"Great smart shades, but need more power",NaN,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1W...,https://images-na.ssl-images-amazon.com/images...,7,1,5.926401
4,R1UTS0OJVZF1A1,SpunkyD,"October 12, 2025",True,3,5,Nice video taking!,I recently upgraded from the Stories to these ...,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1U...,NaN,5,0,3.209702

In [7]:
products['text'] = products['title'].fillna('') + ' ' + products['review'].fillna('')

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(products['text'])

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [10]:
def recommend_similar_reviews(review_id, top_n=5):
    idx = products[products['reviewID'] == review_id].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]
    return products.iloc[review_indices][['reviewID', 'title', 'rating', 'helpfulness_score']]

In [11]:
recommend_similar_reviews('R1LPZH3QJAOVAI', top_n=5)

,reviewID,title,rating,helpfulness_score
24,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,5.804315
54,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.377670
65,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.533054
104,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.570173
105,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.077651

In [12]:
products['review_unique_id'] = products.index

In [13]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load data
products = pd.read_csv(r'C:\Users\srush\OneDrive\Desktop\recommendation_engine\data\products.csv')

# Create unique ID
products['review_unique_id'] = products.index

# Combine title + review
products['text'] = products['title'].fillna('') + ' ' + products['review'].fillna('')

# TF-IDF Vectorization
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(products['text'])

# Cosine Similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Recommendation function
def recommend_similar_reviews(review_unique_id, top_n=5):
    sim_scores = list(enumerate(cosine_sim[review_unique_id]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]
    return products.iloc[review_indices][['review_unique_id', 'reviewID', 'title', 'rating', 'helpfulness_score']]

# Example
recommend_similar_reviews(24, top_n=5)

,review_unique_id,reviewID,title,rating,helpfulness_score
24,24,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,5.804315
54,54,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.377670
65,65,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.533054
104,104,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.570173
105,105,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan,5,4.077651

In [14]:
products = products.drop_duplicates(subset=['text'])

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(products['text'])

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [16]:
def recommend_similar_reviews(review_unique_id, top_n=5):
    sim_scores = list(enumerate(cosine_sim[review_unique_id]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]
    return products.iloc[review_indices][['review_unique_id', 'reviewID', 'title', 'rating', 'helpfulness_score']]

In [17]:
recommend_similar_reviews(24, top_n=5)

,review_unique_id,reviewID,title,rating,helpfulness_score
53,53,R29199PKQ8X72Z,Great glasses but green lenses option isnt gre...,4,3.695590
12,12,R11G1TPE8GOJN2,Sharp sunglasses with cool tech,4,4.227218
8,8,R1YDCJ3C2J9FL8,Incredible product,5,8.824193
42,42,R1RUTX391LYLHC,Glad I finally got them,5,6.353836
6,6,R1H1QHSD9T8Q51,Not really all that much a fan,3,7.933410

In [18]:
products['verifiedPurchase'] = products['verifiedPurchase'].astype(int)

# Weighted score
products['weight_score'] = products['rating'] * 0.6 + products['helpfulness_score'] * 0.3 + products['verifiedPurchase'] * 0.1

In [19]:
def recommend_similar_reviews(review_unique_id, top_n=5):
    sim_scores = list(enumerate(cosine_sim[review_unique_id]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]

    recommended = products.iloc[review_indices]
    recommended['final_score'] = recommended['weight_score'] * 0.5 + \
                                 [score for _, score in sim_scores] * 0.5

    return recommended.sort_values(by='final_score', ascending=False)[['review_unique_id','reviewID','title','rating','helpfulness_score','final_score']]

In [20]:
recommend_similar_reviews(53, top_n=5)

IndexError: index 53 is out of bounds for axis 0 with size 35

In [21]:
products = products.drop_duplicates(subset=['text']).reset_index(drop=True)
products['review_unique_id'] = products.index

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(products['text'])

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [23]:
def recommend_similar_reviews(review_unique_id, top_n=5):
    sim_scores = list(enumerate(cosine_sim[review_unique_id]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]
    
    return products.iloc[review_indices][['review_unique_id','reviewID','title','rating','helpfulness_score']]

In [24]:
recommend_similar_reviews(5, top_n=5)

,review_unique_id,reviewID,title,rating,helpfulness_score
17,17,R1MPU3YRLWBF5,Great Product For Content Creators,5,7.134522
3,3,R1W8SXTGV55AUH,"Great smart shades, but need more power",4,5.926401
14,14,R205YGPW1B73VY,They’re great!,5,5.984165
30,30,R29199PKQ8X72Z,Great glasses but green lenses option isnt gre...,4,3.695590
7,7,R1YDCJ3C2J9FL8,Incredible product,5,8.824193

In [25]:
products[['review_unique_id','reviewID','title']].head(10)

,review_unique_id,reviewID,title
0,0,R26GJW65W9X4OB,Solid Smart Glasses with Room for Improvement
1,1,R1LPZH3QJAOVAI,Excelentes a mi esposo le encantan
2,2,R1ASIRA3BE7065,Now you see me
3,3,R1W8SXTGV55AUH,"Great smart shades, but need more power"
4,4,R1UTS0OJVZF1A1,Nice video taking!
5,5,R1X5UFI9SIMEDD,Great
6,6,R1H1QHSD9T8Q51,Not really all that much a fan
7,7,R1YDCJ3C2J9FL8,Incredible product
8,8,R12V3WYDC232SV,Best action adventure capturing device.
9,9,R1WOST8YTDBB5X,Update 2. Device so useless as to be unbelieva...

In [26]:
def recommend_similar_reviews(review_unique_id, top_n=5):
    sim_scores = list(enumerate(cosine_sim[review_unique_id]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]
    
    return products.iloc[review_indices][['review_unique_id','reviewID','title','rating','helpfulness_score']]

In [27]:
recommend_similar_reviews(0, top_n=5)

,review_unique_id,reviewID,title,rating,helpfulness_score
18,18,R1A5PYV24OQSDL,Impressive tech in a stylish pair of glasses,5,4.986126
22,22,R1JOBX8ZVAGZ60,Great But Short Battery Life,4,8.572131
6,6,R1H1QHSD9T8Q51,Not really all that much a fan,3,7.933410
4,4,R1UTS0OJVZF1A1,Nice video taking!,3,3.209702
7,7,R1YDCJ3C2J9FL8,Incredible product,5,8.824193

In [28]:
def recommend_similar_reviews(review_unique_id, top_n=5):
    sim_scores = list(enumerate(cosine_sim[review_unique_id]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    review_indices = [i[0] for i in sim_scores]

    recommended = products.iloc[review_indices].copy()
    recommended['similarity_score'] = [score for _, score in sim_scores]

    # final score
    recommended['final_score'] = recommended['similarity_score'] * 0.6 + \
                                 recommended['rating'] * 0.25 + \
                                 recommended['helpfulness_score'] * 0.15

    return recommended.sort_values(by='final_score', ascending=False)[
        ['review_unique_id','reviewID','title','rating','helpfulness_score','final_score']
    ]

In [30]:
recommend_similar_reviews(0, top_n=5)

,review_unique_id,reviewID,title,rating,helpfulness_score,final_score
7,7,R1YDCJ3C2J9FL8,Incredible product,5,8.824193,2.663026
22,22,R1JOBX8ZVAGZ60,Great But Short Battery Life,4,8.572131,2.427185
18,18,R1A5PYV24OQSDL,Impressive tech in a stylish pair of glasses,5,4.986126,2.154670
6,6,R1H1QHSD9T8Q51,Not really all that much a fan,3,7.933410,2.057358
4,4,R1UTS0OJVZF1A1,Nice video taking!,3,3.209702,1.345779

In [34]:
final_recommendations = recommend_similar_reviews(0, top_n=5)
final_recommendations.to_csv(
    r'C:\Users\srush\OneDrive\Desktop\recommendation_engine\data\final_recommendations.csv',
    index=False
)